.header {
  background: var(--background-primary);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__navigation {
  margin-left: 24px;
}

.header__controls {
  margin-left: auto;
}

.footer {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--constant-black);
  color: var(--constant-white);
}

.footer .logo {
  margin-bottom: 24px;
}

.footer__top {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--constant-white-alpha12);
}

.footer__link {
  color: var(--constant-accent);
  text-decoration: underline;
}

.footer__link:hover {
  opacity: 0.8;
}

.page-animation-exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  transform-origin: center center;
}

.page-animation-exit-active {
  opacity: 0;
  transform: scale(1.1);
}

@media all and (min-width: 1024px) {
  .footer {
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 80px;
  }

  .footer .logo {
    margin-bottom: 0;
  }

  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .footer__bottom {
    font-size: 16px;
  }
}
